<style>
h1  {
    text-align: center;
    color: white;
}
.signup {
    position: relative;
    text-align: center;
    margin-top: 250px;
}

body{
    background-color: #8be37f;
}
.foot {
    margin-top: 35%;
    text-align: center;
    color: white;
}


</style>

<h1>Welcome!</h1>

<div class="signup">
<form action="/signup" method="POST">
    <input type="text" name="name" placeholder="Enter full name">
    <input type="text" name="username" placeholder="Enter username">
    <input type="password" name="password" placeholder="Enter password">
    <button type="submit">Sign Up</button>
</form>
</div>

<footer class="foot">
    &copy; 2023 FnF
    </footer>