<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Fonem Financials</title>
</head>

<style>
    body {
        background-color: #8be37f;
        margin: 50px auto;
		background-position: center;
    }

h1, h2 {
    text-align: center;
    color: white;

}

.btn {
    position: relative;
    text-align: center;
   
}

.foot {
    margin-top: 35%;
    text-align: center;
    color: white;
}

</style>

<body>
<h1>Welcome to Fonem Financials!</h1>

<h2>If you have been referred this link and this is your first time, please sign up!</h2>

<h2>Already a Member? Please Login</h2>

<div class="btn">
<a href="/login">
	
<button>Login</button>

</a>

<a href="/signup">

<button>Sign Up</button>

</a>
</div>


</body>

<footer class="foot">
    &copy; 2023 FnF
</footer>

</html>