<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/app.js"></script>
    <title>Fonem Financials</title>
</head>

<head>
	<title>Page Layout</title>
	<style>
		
	</style>
</head>

<body>

	<!-- Header Section -->
	<header>
		<div class="head1">
			FonemFinancials
		</div>
		<div class="head2">
			Where finacnial confidence and dreams come true!
		</div>
	</header>
	<style>
	.head1 {
		font-size: 40px;
		color: #009900;
		font-weight: bold;
	}
	
	.head2 {
		font-size: 17px;
		margin-left: 10px;
		margin-bottom: 15px;
	}
	
	body {
		margin: 0 auto;
		background-position: center;
		background-size: contain;
	}
	
	.menu {
		position: sticky;
		top: 0;
		background-color: #009900;
		padding: 10px 0px 10px 0px;
		color: white;
		margin: 0 auto;
		overflow: hidden;
	}
	
	.menu a {
		float: left;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
	}
	
	.menu-log {
		right: auto;
		float: right;
	}
	
	.foot {
		width: 100%;
		bottom: 0px;
		background-color: #8be37f;
		color: #fff;
		display:inline-flex;
		padding-bottom: 10px;
		font-size: 10px;
		font-weight: bold;
	}
	
	.body_sec {
		margin-left: 20px;
	}

</style>

	<!-- Menu Navigation Bar -->
	<nav class="menu">
		<a href="../views/index">HOME</a>
		<a href="/about">ABOUT</a>
		<a href="/sme">SMEs</a>
		<a href="/resources">RESOURCES</a>
		<a href="/forum">FORUM</a>
		<a href="/events">EVENTS</a>
		<a href="/packages">PACKAGES</a>
		<a href="/interest">INTERESTS</a>

		<div class="menu-log">
			<a href="/">LOGOUT</a>
		</div>						
	</nav>

	<!-- Body section -->
	<main class="body_sec">
		<section id="Content">
			<h3>Welcome</h3>
            <p>This is an open service program in personal financial management. It covers financial planning, budgeting, debt management, investments, housing, pension planning and insurance. In addition to building a household budget and balance sheet and developing other practical skills in financial management, the course explores the social and behavioural drivers of financial decision making and the nature of financial risks households can be exposed to.
            </p>
		</section>
	</main>
	<main class="body_sec">
		<section id="Content">
			<h3>Future Masters</h3>
            <p>360 Degrees of Financial Literacy (American Institute of CPAs)
                A free public service by the nation's CPAs to help Americans understand their personal finances through every stage of life.
                Federal Reserve Education - Resources for Teachers and Students
                Resources for personal finance and economics, including budgeting, credit, and debt.
                LendEDU
                LendEDU is a website that helps consumers learn about and compare financial products, including student loans, personal loans, credit cards, insurance, and more.
                Borrowing and Spending - MOSAIEC
                Learn the fundamentals of managing money in college. MOSAIEC is a public-service website developed to help students plan and complete their journey through higher education. Emphasis is on student loans and college finances.
                MoneyGeek: Smarter Financial Decisions
                Smarter financial decisions for: Life, Education, Daily Spending, Retirement, Protecting Your Assets, Buying a House and more.
                MyMoney.gov
                This site organizes financial education help from over 20 different Federal web sites in one place. Content is organized by where you are in life ("Life Events"), who you are ("My Resources"), and by specific hands-on tools ("Tools").
                Savvy Ladies Financial Empowerment
                Savvy Ladies mission is to teach and educate women about personal financial literacy. It provides free online articles, interactive tools, webinars, courses, and a helpline for personal financial advice. Savvy Ladies is not associated with another organization and provides unbiased education about personal finances.
                Thirty Steps to Financial Wellness
                In recognition of Financial Literacy Month (April), Money Management International have provided an easy-to-follow 30 step path to help you achieve financial wellness. Each step links to interactive tools and additional information. Of special interest is the "Tools for Success" section.</p>
		</section>
	</main>
	<main class="body_sec">
		<section id="Content">
			<h3></h3>
		</section>
	</main>
	<main class="body_sec">
		<section id="Content">
			<h3>Content section</h3>
		</section>
	</main>
	<main class="body_sec">
		<section id="Content">
	<article>
		<h2>Google Chrome</h2>
		<p>Google Chrome is a web browser developed by Google, released in 2008. Chrome is the world's most popular web browser today!</p>
	
</main>
		<article>
		<h2>Mozilla Firefox</h2>
		<p>Mozilla Firefox is an open-source web browser developed by Mozilla. Firefox has been the second most popular web browser since January, 2018.</p>
		</article>
		
		<article>
		<h2>Microsoft Edge</h2>
		<p>Microsoft Edge is a web browser developed by Microsoft, released in 2015. Microsoft Edge replaced Internet Explorer.</p>
		</article>
	</article>
	</section>
</body>
<br>
<br>
	<!-- Footer Section -->
	<footer class="foot">
		&copy; 2023 FnF
		</footer>

</html>