<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <script defer src="/app.js"></script>
    <title>Fonem Financials</title>
</head>

<head>
	<title>Page Layout</title>
	<style>
		
	</style>
</head>

<body>

	<!-- Header Section -->
	<header>
		<div class="head1">
			FonemFinancials
		</div>
		<div class="head2">
			Where finacnial confidence and dreams come true!
		</div>
	</header>
	<style>
	.head1 {
		font-size: 40px;
		color: #009900;
		font-weight: bold;
	}
	
	.head2 {
		font-size: 17px;
		margin-left: 10px;
		margin-bottom: 15px;
	}
	
	body {
		margin: 0 auto;
		background-position: center;
		background-size: contain;
	}
	
	.menu {
		position: sticky;
		top: 0;
		background-color: #009900;
		padding: 10px 0px 10px 0px;
		color: white;
		margin: 0 auto;
		overflow: hidden;
	}
	
	.menu a {
		float: left;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
	}
	
	.menu-log {
		right: auto;
		float: right;
	}
	
	.foot {
		width: 100%;
		bottom: 0px;
		background-color: #8be37f;
		color: #fff;
		display:inline-flex;
		padding-bottom: 10px;
		font-size: 10px;
		font-weight: bold;
	}
	
	.body_sec {
		margin-left: 20px;
	}

</style>

	<!-- Menu Navigation Bar -->
	<nav class="menu">
		<a href="/">HOME</a>
		<a href="/about">ABOUT</a>
		<a href="/sme">SMEs</a>
		<a href="/resources">RESOURCES</a>
		<a href="/forum">FORUM</a>
		<a href="/events">EVENTS</a>
		<a href="/packages">PACKAGES</a>
		<a href="/interest">INTERESTS</a>

		<div class="menu-log">
			<a href="/">LOGOUT</a>
		</div>						
	</nav>

	<!-- Body section -->
    <h2>Packages</h2>
	<main class="body_sec">
		<section id="Content">
			<h3>Budgeting</h3>
            <p></p>
		</section>
	</main>
	<main class="body_sec">
		<section id="Content">
			<h3>Managing Debt</h3>
            <p></p>
		</section>
	</main>
	<main class="body_sec">
		<section id="Content">
			<h3>Managing Credit</h3>
            <p></p>
		</section>
	</main>
	<main class="body_sec">
		<section id="Content">
			<h3>Savings & Investment</h3>
            <p></p>
		</section>
	</main>
	<main class="body_sec">
		<section id="Content">
			<h3>Retirement</h3>
            <p></p>
		</section>
	</main>
	
</body>
<br>
<br>
	<!-- Footer Section -->
	<footer class="foot">
		&copy; 2023 FnF
		</footer>


</html>
